body{
    background-color: black;
}
h1{
    color: antiquewhite;
}

div{
    text-align: center;
}
button{
    height: 2.5em;
    width: 5.5em;
    border: none;
    color: antiquewhite;
}

button:hover{
    cursor: pointer;
}

.start-btn{
    background-color: rgb(4, 128, 66);
}

.stop-btn{
    background-color: rgb(194, 6, 6);
}

.pause-btn{
    background-color: rgb(82, 82, 82);
}

.parcial-btn{
    background-color: rgb(44, 46, 212);
}